@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
:root {
  --textWhite: white;
  --textСolorGray: #a0aec0;
  --textColorLightGray: #c4c4c4;
  --colorBlue: #0075ff;
  --colorDarkBlue: rgba(26, 31, 55, 0.9);
  --colorGreen: #36a71a;
  --colorLightGreen: #01b574;
  --colorRed: #ff0000;
  --hoverColor: rgba(128, 128, 128, 0.127);
  --colorPurple: #7b61ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  min-width: 320px;
  font-family: "Jost", "Intern", sans-serif;
  color: white;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("/img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: blur(20px);
  overflow: hidden;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

button {
  border: none;
  background-color: inherit;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: inherit;
}

h1 {
  font-size: 2.2rem;
  line-height: 1.1;
}

h4 {
  font-weight: 500;
  color: var(--textColorLightGray);
}

input {
  padding: 10px;
  font-size: 1.2em;
  border-radius: 1em;
  color: var(--textWhite);
  border: 2px solid transparent;
  background: linear-gradient(#000977, #000977 0) padding-box,
    linear-gradient(to right bottom, #582cff, #5a2cff00, #582cff) border-box;
}

input:focus {
  outline: none;
}

#app {
  height: 100%;
}

.container {
  width: 100%;
  margin: 12px;
}

.dark-blue-container {
  background: linear-gradient(
    to top,
    rgb(0, 2, 28, 0.8),
    rgba(7, 15, 125, 0.8)
  );
  /* backdrop-filter: blur(10px); */

  padding: 20px;
  border: 2px solid transparent;
  border-radius: 15px;
  background: linear-gradient(to top, rgb(0, 2, 28, 0.9), rgba(7, 15, 125, 0.9))
      padding-box,
    linear-gradient(to right top, #582cff, #5a2cff00, #582cff) border-box;
}

.light-blue-btn {
  background-color: #1f7fee;
  padding: 10px 20px;
  border-radius: 1.1em;
  color: white;
  font-size: 1.1rem;
  transition: opacity 0.2s ease;
}

.red-btn {
  background-color: red;
  background: linear-gradient(to right, #ff3333, #ff6666);
  padding: 10px 20px;
  border-radius: 1.1em;
  color: white;
  font-size: 1rem;
  opacity: 1;
  transition: opacity 0.2s ease;
}

.form-btn {
  margin-top: 20px;
  padding: 12px 24px;
  border-radius: 15px;
  background: linear-gradient(to right, #0075ff, #00aaff);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1em;
  transition: opacity 0.3s;
}

.light-blue-btn:hover,
.red-btn:hover,
.form-btn:hover {
  opacity: 0.8;
}

.border-gray-btn {
  background-color: transparent;
  padding: 10px 20px;
  border-radius: 1.1em;
  border: solid 2px rgb(245, 245, 245);
  color: rgb(245, 245, 245);
  font-size: 1.1rem;
  transition: background-color 0.2s ease;
}

.border-gray-btn:hover {
  background-color: rgba(245, 245, 245, 0.1);
}

.error {
  color: red;
  font-weight: 500;
  margin-top: 10px;
}

.success {
  color: #4caf50;
  font-weight: 500;
  margin-top: 10px;
}
@media (max-width: 1400px) {
  html {
    font-size: 14px;
  }
}
